:root {
  --primary-color: #F7B844;
}

body {
  background-color: #F7B844 ;
  font-family: 'Rambla', Arial, Helvetica, sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #FCF2DF ;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 20px;
  background-color: #000;
}

.nav-items {
  display: flex;
}

.nav-items a{
  color: #fff;
  letter-spacing: 0.2em;
  padding-right: 10px;
}

.logo {
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-color);
}

.btn {
  background-color: #ED6837;
  padding: 8px 30px;
  border: none;
  border-radius: 10px;
  box-shadow: -4px 4px 1px #fff;
}


